<div class='config'>
  <div class='content'>
      <div class='widget'>
        <div class='headbar'>
          <h2>Configurations</h2>
        </div>
        <table class='table table-condensed table-striped' id='configuration'>
          <tbody>
            <% Redis.current.config(:get, '*').each do |k, v|%>
              <tr>
                <td style="width:30%"><%= k %></td>
                <td class="editable" id="<%= k %>"><%= v %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
  </div>
</div>

<script type='text/javascript'>
  // encapsulate the config widget
  var configWidget = (function() {
    var selects = {
      'appendonly'                : 'yes,no',
      'no-appendfsync-on-rewrite' : 'yes,no',
      'slave-serve-stale-data'    : 'yes,no',
      'loglevel'                  : 'debug,verbose,notice,warning',
      'maxmemory-policy'          : 'volatile-lru,allkeys-lru,volatile-random,allkeys-random,volatile-ttl,noeviction',
      'appendfsync'               : 'always,everysec,no'
    };
    
    function render(data) {
      $('#configuration .editable').each(function() {
        var editable = $(this)
          , id = editable.attr('id');

        var config = {
          url           : '/redis_infos/configuration',
          element_id    : 'param',
          update_value  : 'value',
          show_buttons  :  true,
          save_button   : '<button style="margin-left:5px;"class="btn btn-primary">Save</button>',
          cancel_button : '<button class="btn">Cancel</button>',
          default_text  : '&nbsp'
        };

        if (selects[id]) {
          config.field_type     = 'select';
          config.select_options = selects[id];
        }
        
        editable.editInPlace(config);
      });
    }

    return {
      render: render
    }
  })();

  configWidget.render()
</script>

