
<div class='row'>
  <div class='span15'>
    <div class='row'>
      <div class='span15'>
        <div class='widget'>
          <div class='headbar'>
            <h2>DataUse</h2>
          </div>
          <div id='redis_use' style='width:880px;height:325px'>></div>
          <div class='headbar'>
            <h2>Memory Usage</h2>
          </div>
          <div id='memory-container' style='width:880px;height:225px'></div>
        </div>
      </div>
    </div>
  </div>
</div>
