<div class="content">
  <div class='headbar'>
    <h2>Command Line Interface</h2>
  </div>
  <div class="row">
    <div class="span9" style="height:620px">
      <div id="terminal"></div>
    </div>
  </div>
</div>


