<h1>/Objected</h1>

<div class="form-actions">
  <%= link_to 'Back', objecteds_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_objected_path(@objected), :class => 'btn' %>
  <%= link_to 'Delete', objected_path(@objected), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
