
.show{ display: block; }
.hidden{ display: none; }

#terminal {
    margin: 1em 0 0;
    padding: .25em 0;
    height: 600px;
    background: #000;
    overflow: auto;
    font-family: Monaco, monospace;
}

#terminal div.line {
    padding: 0;
}

#terminal input {
    width: 700px;
    border: none;
    display: inline;
    background: #000;
    color: #55d839;
    font-family: Monaco, monospace;
}

#terminal p, #terminal pre {
    color: #55d839;
    color: #55d839 !important;
    margin-bottom: 0px;
    margin-left: 12px;
}

#terminal a {
    color:  #55d839;
}

#terminal span.prompt {
    color: #55d839;
    margin-left: 12px;
}

#terminal input:focus{box-shadow:none;}
